.colorPicker {
    display: flex;
    gap: 12px;
}

.menubarList {
    display: flex;
    gap: 8px;
    align-items: center;
}

.colorHistoryButton {
    aspect-ratio: 1/1;
    border-radius: 8px;
    height: 40px;
    border: none;
    box-shadow: 0 0 3px #0008;
}
