.button {
    border-radius: 8px;
    padding: 8px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 1px #000a;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.15s ease-in-out;
}

.active, .button:active {
    background: #0003;
}
